<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
    colors="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib/</directory>
        </whitelist>
    </filter>
</phpunit>
